.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    padding-top: 20px;
}

/* Estilos para os links na barra lateral */
.sidebar a {
    padding: 10px;
    text-decoration: none;
    color: #333;
    display: block;
}

/* Estilos para os links na barra lateral quando hover */
.sidebar a:hover {
    background-color: #ddd;
}

